<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.workstudy.mapper.EmploymentMapper">

    <resultMap type="com.ruoyi.project.workstudy.domain.Employment" id="EmploymentResult">
        <result property="id" column="id"/>
        <result property="department" column="department"/>
        <result property="content" column="content"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="status" column="status"/>
        <collection property="employmentJobs" ofType="com.ruoyi.project.workstudy.domain.EmploymentJob"
                    select="selectEmploymentJobs" column="id">
            <result property="jobId" column="job_id"/>
            <result property="jobName" column="job_name"/>
            <result property="limitNumber" column="limit_number"/>
            <result property="currentNumber" column="current_number"/>
        </collection>
    </resultMap>

    <resultMap type="com.ruoyi.project.workstudy.domain.Employment" id="ValidEmploymentResult">
        <result property="id" column="id"/>
        <result property="department" column="department"/>
        <result property="content" column="content"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="status" column="status"/>
        <collection property="employmentJobs" ofType="com.ruoyi.project.workstudy.domain.EmploymentJob"
                    select="selectValidEmploymentJobs" column="id">
            <result property="jobId" column="job_id"/>
            <result property="jobName" column="job_name"/>
            <result property="limitNumber" column="limit_number"/>
            <result property="currentNumber" column="current_number"/>
        </collection>
    </resultMap>

    <sql id="selectEmploymentVo">
        select employment.id,
               department,
               content,
               start_time,
               end_time,
               created_time,
               updated_time,
               status
        from employment
    </sql>

    <!-- 获取EmploymentJobs的查询 -->
    <select id="selectEmploymentJobs" resultType="com.ruoyi.project.workstudy.domain.EmploymentJob">
        SELECT employment_job.job_id         AS job_id,
               job.name                      AS job_name,
               employment_job.limit_number   AS limit_number,
               employment_job.current_number AS current_number
        FROM employment_job
                 INNER JOIN
             job ON employment_job.job_id = job.id
        WHERE employment_job.employment_id = #{id}
    </select>

    <select id="selectEmploymentList" parameterType="com.ruoyi.project.workstudy.domain.Employment"
            resultMap="EmploymentResult">
        <include refid="selectEmploymentVo"/>
        <where>
            <if test="department != null  and department != ''">and department = #{department}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectEmploymentById" parameterType="Long" resultMap="EmploymentResult">
        <include refid="selectEmploymentVo"/>
        where employment.id = #{id}
    </select>

    <!-- status为1且未满员 -->
    <select id="listAllValidEmployments" resultMap="ValidEmploymentResult">
        <include refid="selectEmploymentVo"/>
        where status = 1
    </select>
    <select id="selectValidEmploymentJobs" resultType="com.ruoyi.project.workstudy.domain.EmploymentJob">
        SELECT employment_job.job_id         AS job_id,
               job.name                      AS job_name,
               employment_job.limit_number   AS limit_number,
               employment_job.current_number AS current_number
        FROM employment_job
                 INNER JOIN
             job ON employment_job.job_id = job.id
        WHERE employment_job.employment_id = #{id}
            and limit_number > current_number
    </select>


    <select id="listAllEmployments" resultMap="EmploymentResult">
        <include refid="selectEmploymentVo"/>
    </select>

    <insert id="insertEmployment" parameterType="com.ruoyi.project.workstudy.domain.Employment" useGeneratedKeys="true"
            keyProperty="id">
        insert into employment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="department != null">department,</if>
            <if test="content != null">content,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="department != null">#{department},</if>
            <if test="content != null">#{content},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateEmployment" parameterType="com.ruoyi.project.workstudy.domain.Employment">
        update employment
        <trim prefix="SET" suffixOverrides=",">
            <if test="department != null">department = #{department},</if>
            <if test="content != null">content = #{content},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEmploymentById" parameterType="Long">
        delete
        from employment
        where id = #{id}
    </delete>

    <delete id="deleteEmploymentByIds" parameterType="String">
        delete from employment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>