<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.workstudy.mapper.StudentMapper">

    <resultMap type="com.ruoyi.project.workstudy.domain.Student" id="StudentResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="department" column="department"/>
        <result property="major" column="major"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="status" column="status"/>
        <result property="studentId" column="student_id"/>
        <result property="isEcoHard" column="is_eco_hard"/>
        <result property="isAssignedAccept" column="is_assigned_accept"/>
        <collection property="jobIntentions" ofType="string">
            <result column="job_name"/>
        </collection>
    </resultMap>

    <sql id="selectStudentVo">
        select student.id,
               student.name,
               department,
               major,
               sex,
               phone,
               created_time,
               updated_time,
               status,
               student.student_id,
               is_eco_hard,
               is_assigned_accept,
               job.name as job_name
        from student
            left join student_job on student.id = student_job.student_id
            left join job on student_job.job_id = job.id
    </sql>

    <select id="selectStudentList" parameterType="com.ruoyi.project.workstudy.domain.Student" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        <where>
            <if test="name != null  and name != ''">and student.name like concat('%', #{name}, '%')</if>
            <if test="department != null  and department != ''">and department = #{department}</if>
            <if test="major != null  and major != ''">and major = #{major}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="studentId != null  and studentId != ''">and student.student_id like concat('%', #{studentId},
                '%')
            </if>
            <if test="isEcoHard != null ">and is_eco_hard = #{isEcoHard}</if>
            <if test="isAssignedAccept != null ">and is_assigned_accept = #{isAssignedAccept}</if>
        </where>
    </select>

    <select id="selectStudentById" parameterType="Long" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        where student.id = #{id}
    </select>

    <insert id="insertStudent" parameterType="com.ruoyi.project.workstudy.domain.Student" useGeneratedKeys="true"
            keyProperty="id">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="department != null">department,</if>
            <if test="major != null">major,</if>
            <if test="sex != null">sex,</if>
            <if test="phone != null">phone,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="status != null">status,</if>
            <if test="studentId != null">student_id,</if>
            <if test="isEcoHard != null">is_eco_hard,</if>
            <if test="isAssignedAccept != null">is_assigned_accept,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="department != null">#{department},</if>
            <if test="major != null">#{major},</if>
            <if test="sex != null">#{sex},</if>
            <if test="phone != null">#{phone},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="status != null">#{status},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="isEcoHard != null">#{isEcoHard},</if>
            <if test="isAssignedAccept != null">#{isAssignedAccept},</if>
        </trim>
    </insert>

    <update id="updateStudent" parameterType="com.ruoyi.project.workstudy.domain.Student">
        update student
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="department != null">department = #{department},</if>
            <if test="major != null">major = #{major},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="isEcoHard != null">is_eco_hard = #{isEcoHard},</if>
            <if test="isAssignedAccept != null">is_assigned_accept = #{isAssignedAccept},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudentById" parameterType="Long">
        delete
        from student
        where id = #{id}
    </delete>

    <delete id="deleteStudentByIds" parameterType="String">
        delete from student where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>